{% load static %}

<div class="home-page-menus">

    {% if page == "home-timeline" %}
    <a href="{% url 'home-page'%}" class="menu-icon-container {{theme}}">
        <div class="item {{theme}} selected-tab">
            <i class="fa-solid fa-house"></i>
            <div class="label">Home</div>
            <div class="content-after"></div>
        </div>
    </a>

    {% else %}
    <a href="{% url 'home-page'%}" class="menu-icon-container {{theme}}">
        <div class="item {{theme}}">
            <i class="fa-solid fa-house"></i>
            <div class="label">Home</div>
        </div>
    </a>
    {% endif %} {% if page == "lft-posts-page" %}
    <a href="{% url 'lft-posts' %}" class="menu-icon-container {{theme}}">
        <div class="item selected-tab">
            <i class="fa-solid fa-briefcase"></i>
            <div class="label">LFT</div>
            <div class="content-after"></div>
        </div>
    </a>
    {% else %}
    <a href="{% url 'lft-posts' %}" class="menu-icon-container {{theme}}">
        <div class="item">
            <i class="fa-solid fa-briefcase"></i>
            <div class="label">LFT</div>
        </div>
    </a>
    {% endif %}
    <a href="" class="menu-icon-container {{theme}}">
        <div class="item">
            <i class="fa-solid fa-paintbrush"></i>
            <div class="label">Fanart</div>
        </div>
    </a>
    <a href="" class="menu-icon-container {{theme}}">
        <div class="item">
            <i class="fa-solid fa-cart-shopping"></i>
            <div class="label">Marketplace</div>
        </div>
    </a>
    <a href="" class="menu-icon-container {{theme}}">
        <div class="item">
            <i class="fa-solid fa-trophy"></i>
            <div class="label">Tournaments</div>
        </div>
    </a>
    <a href="" class="menu-icon-container {{theme}}">
        <div class="item">
            <i class="fa-solid fa-book-open-reader"></i>
            <div class="label">Guides</div>
        </div>
    </a>


</div>