{% extends 'v1.01/base/base.html' %} {% load static %} {% block title %} Page3 Homepage {% endblock title %} {% block content %} {% include 'v1.01/navigation/navbar-top.html' %}

<div class="main-body">


    {% include 'v1.01/navigation/sidebar-left.html' %}



    <div onload="javascript:playPauseVideo()">

        <div class="page-contents">

            <div class="home-page-categories">
                <ul class="swiper-wrapper categories-container ">
                    <li class="swiper-slide category-item {{theme}}">
                        <a class="category-label" href="">
                            <div class="topic-title-noimg">All</div>
                        </a>
                    </li>
                    <li class="swiper-slide category-item {{theme}}">
                        <a class="category-label" href=""><img src="{% static 'PostIT/images/val-logo.png' %}">
                            <div class="topic-title">Valorant</div>
                        </a>
                    </li>
                    <li class="swiper-slide category-item {{theme}}">
                        <a class="category-label" href=""><img src="{% static 'PostIT/images/cs2-logo.png' %}">
                            <div class="topic-title">Counter Strike 2</div>
                        </a>
                    </li>
                    <li class="swiper-slide category-item {{theme}}">
                        <a class="category-label" href=""><img src="{% static 'PostIT/images/lol-logo.png' %}">
                            <div class="topic-title">League of Legends</div>
                        </a>
                    </li>
                    <li class="swiper-slide category-item {{theme}}">
                        <a class="category-label" href=""><img src="{% static 'PostIT/images/apex-logo.png' %}">
                            <div class="topic-title">Apex Legends</div>
                        </a>
                    </li>
                    <li class="swiper-slide category-item {{theme}}">
                        <a class="category-label" href=""><img src="{% static 'PostIT/images/ow2-logo.png' %}">
                            <div class="topic-title">Overwatch2</div>
                        </a>
                    </li>
                    <li class="swiper-slide category-item {{theme}}">
                        <a class="category-label" href=""><img src="{% static 'PostIT/images/rl-logo.png' %}">
                            <div class="topic-title">Rocket League</div>
                        </a>
                    </li>
                    <li class="swiper-slide category-item {{theme}}">
                        <a class="category-label" href=""><img src="{% static 'PostIT/images/fifa-logo.png' %}">
                            <div class="topic-title">FIFA 23</div>
                        </a>
                    </li>
                    <li class="swiper-slide category-item {{theme}}">
                        <a class="category-label" href=""><img src="{% static 'PostIT/images/dota2-logo.png' %}">
                            <div class="topic-title">DOTA 2</div>
                        </a>
                    </li>
                    <li class="swiper-slide category-item {{theme}}">
                        <a class="category-label" href=""><img src="{% static 'PostIT/images/r6-logo.png' %}">
                            <div class="topic-title">Rainbow Six Siege</div>
                        </a>
                    </li>
                    <li class="swiper-slide category-item {{theme}}">
                        <a class="category-label" href=""><img src="{% static 'PostIT/images/fortnite-logo.png' %}">
                            <div class="topic-title">Fortnite</div>
                        </a>
                    </li>
                    <li class="swiper-slide category-item {{theme}}">
                        <a class="category-label" href=""><img src="{% static 'PostIT/images/halo-logo.png' %}">
                            <div class="topic-title">Halo Infinite</div>
                        </a>
                    </li>
                    <li class="swiper-slide category-item {{theme}}">
                        <a class="category-label" href=""><img src="{% static 'PostIT/images/pubg-logo.png' %}">
                            <div class="topic-title">PUBG</div>
                        </a>
                    </li>
                    <li class="swiper-slide category-item {{theme}}">
                        <a class="category-label" href=""><img src="{% static 'PostIT/images/fortnite-logo.png' %}">
                            <div class="topic-title">Fortnite</div>
                        </a>
                    </li>
                    <li class="swiper-slide category-item {{theme}}">
                        <a class="category-label" href=""><img src="{% static 'PostIT/images/fortnite-logo.png' %}">
                            <div class="topic-title">Fortnite</div>
                        </a>
                    </li>
                    <li class="swiper-slide category-item {{theme}}">
                        <a class="category-label" href=""><img src="{% static 'PostIT/images/fortnite-logo.png' %}">
                            <div class="topic-title">Fortnite</div>
                        </a>
                    </li>
                    <li class="swiper-slide category-item {{theme}}">
                        <a class="category-label" href=""><img src="{% static 'PostIT/images/fortnite-logo.png' %}">
                            <div class="topic-title">Fortnite</div>
                        </a>
                    </li>

                </ul>
                <div class="swiper-pagination"></div>
            </div>
            {% include 'v1.01/base/stories/stories-section-home-page.html' %}

            <hr class="section-divider"><br/>

            <div class="posts-timeline">

                {% include 'v1.01/base/home_page_menus.html' %}

                <div class="blocker-page-community" id="blocker-page-community"></div>
                <ul>
                    {% if objects.has_next %}
                    <a class="infinite-more-link" href="?page={{objects.next_page_number}}"></a>

                    {% endif %}


                    <div class="infinite-container posts-container" id="myDIV">

                        {% for post in objects %} {% if not post.is_reply %} {% if post.has_images%} {%if post.body|length > 45 %}
                        <div class="infinite-item post-item has_media media_w_long_text">
                            <div value="{{ post.id }}" class="post-inner-container">
                                {% include 'v1.01/post/post_element/post_element_home_timeline.html' %}

                            </div>
                        </div>
                        {%else%}
                        <div class="infinite-item post-item has_media media_w_short_text">
                            <div value="{{ post.id }}" class="post-inner-container">
                                {% include 'v1.01/post/post_element/post_element_home_timeline.html' %}

                            </div>
                        </div>
                        {%endif%} {% elif post.video %} {%if post.body|length > 45 %}
                        <div class="infinite-item post-item has_media media_w_long_text">
                            <div value="{{ post.id }}" class="post-inner-container">
                                {% include 'v1.01/post/post_element/post_element_home_timeline.html' %}

                            </div>
                        </div>
                        {%else%}
                        <div class="infinite-item post-item has_media media_w_short_text">
                            <div value="{{ post.id }}" class="post-inner-container">
                                {% include 'v1.01/post/post_element/post_element_home_timeline.html' %}

                            </div>
                        </div>
                        {%endif%} {% else %} {%if post.body|length > 45 %}
                        <div class="infinite-item post-item has_no_media no_media_w_long_text">
                            <div value="{{ post.id }}" class="post-inner-container ">
                                {% include 'v1.01/post/post_element/post_element_home_timeline.html' %}

                            </div>
                        </div>
                        {%else%}
                        <div class="infinite-item post-item has_no_media no_media_w_short_text">
                            <div value="{{ post.id }}" class="post-inner-container">
                                {% include 'v1.01/post/post_element/post_element_home_timeline.html' %}

                            </div>
                        </div>
                        {% endif %} {% endif %} {% endif %} {% endfor %}
                    </div>


                    <hr> {% if objects.has_next %}
                    <a class="infinite-more-link" href="?page={{objects.next_page_number}}"></a>

                    {% endif %}


                </ul>
            </div>


        </div>
        <br />




    </div>

    {% include 'v1.01/navigation/sidebar-right.html' %}


</div>


<script src="{% static 'PostIT/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'PostIT/js/infinite.min.js'%}"></script>

<script>
    $('#right-sidebar-toggle').click(function() {
        $('.sidebar-right').css('width', '700px');
        $('#sidebar-right-blocker').show();
        $('.sidebar-right').addClass("sidebar-expanded");
    })
    $('#sidebar-right-blocker').click(function() {
        $('.sidebar-right').css('width', '0');
        $('#sidebar-right-blocker').hide();
        $('.sidebar-right').removeClass("sidebar-expanded");
    })
</script>

<script src="{% static 'v.1.01/js/swiper-bundle.min.js'%}"></script>
<script src="{% static 'v.1.01/js/swipe-stories.js'%}"></script>
<script src="{% static 'v.1.01/js/swipe-categories.js'%}"></script>
<script>
    $(document).on('click', '#like-button', function(e) {
        e.preventDefault();

        var this_ = $(this)
        postid = this_.attr("value").valueOf()

        // var somevar = this_.attr()
        $.ajax({
            type: 'POST',
            url: '{% url "like" %}',
            data: {
                postid: postid,
                // postid: $('#like-button').val(),
                action: 'post',
                // postid: '{{ post.pk }}',
            },
            success: function(json) {

                // this.getElementById("like-button").innerHTML = json['result']
                // document.getElementsByTagName('{{post.id}}').innerHTML = json['result']

                // document.getElementById("like_count").innerHTML = json['result'];
                // no_of_likes = this_.attr("name").valueOf();
                no_of_likes = json['result'];
                console.log(json)
                updateText(this_, no_of_likes)
            },
            error: function(xhr, errmsg, err) {

            }
        });
    })

    function playPauseVideo() {
        let videos = document.querySelectorAll("video");
        console.log("VIDEOS" + videos)
        videos.forEach((video) => {
            // We can only control playback without insteraction if video is mute
            video.muted = true;
            // Play is a promise so we need to check we have it
            let playPromise = video.play();
            if (playPromise !== undefined) {
                playPromise.then((_) => {
                    let observer = new IntersectionObserver(
                        (entries) => {
                            entries.forEach((entry) => {
                                if (
                                    entry.intersectionRatio !== 1 &&
                                    !video.paused
                                ) {
                                    video.pause();
                                } else if (video.paused) {
                                    video.play();
                                }
                            });
                        }, {
                            threshold: 0.9
                        }
                    );
                    observer.observe(video);
                });
            }
        });
    }
</script>



<script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        offset: 'bottom-in-view',
        onBeforePageLoad: function() {
            console.log("Objects loaded before load" + '{{objects}}')
        },
        onAfterPageLoad: function() {
            console.log("Objects loaded after load" + '{{objects.has_previous}}')
        }

    })

    function updateText(btn, no_of_likes) {
        //btn.element.innerHTML = "LIKED BY" + " " + no_of_likes + "lkl"
        //btn.text("LIKED BY" + " " + no_of_likes + " <h1>JLO</h1>")
        elem = "<i class='fa-solid fa-heart'></i>"
        btn[0].innerHTML = no_of_likes + elem
        console.log(btn[0].innerHTML)
    }

    window.addEventListener("pageshow", myfunction(event))

    function myfunction(e) {
        let allLikes = document.getElementsByClassName('like-button');


        for (let i = 0; i < allLikes.length; i++) {
            let attributeValue = allLikes[i].getAttribute('value');


            $.ajax({
                type: 'POST',
                url: '{% url "set_likes" %}',
                data: {
                    postid: attributeValue,
                    // postid: $('#like-button').val(),
                    action: 'post',
                    // postid: '{{ post.pk }}',
                },
                success: function(json) {


                    // this.getElementById("like-button").innerHTML = json['result']
                    // document.getElementsByTagName('{{post.id}}').innerHTML = json['result']

                    // document.getElementById("like_count").innerHTML = json['result'];
                    // no_of_likes = this_.attr("name").valueOf();


                    no_of_likes = json['result'];
                    //console.log(json)
                    //updateText(allLikes[i], no_of_likes)
                    //allLikes[i].innerHTML = "LIKED BY" + " " + no_of_likes
                    //console.log("AJAX LIKES UPDATE REQUEST")

                    updateText(allLikes[i], no_of_likes)
                },
                error: function(response) {

                }
            });


        }
        console.log(allLikes)

    }


    function storeScroll() {

        scrollPos = window.pageYOffset
        localStorage.setItem("scrollPosition", scrollPos);
        localStorage.setItem("loadedPosts", '{{objects}}')
        console.log(localStorage.getItem("loadedPosts"))
        console.log(localStorage.getItem("scrollPosition"))
        console.log("Scroll position Y: " + scrollPos)
    }

    //window.addEventListener("pageshow", scrollToPos);

    function scrollToPos() {
        //e.preventDefault()
        //const element = document.getElementById("myDIV");
        //alert("Attempt Scroll" + element)
        //element.scrollLeft = 5000;
        //element.scrollTop = 3000;
        console.log(localStorage.getItem("scrollPosition"))
            //if ('scrollRestoration' in window.history) {
            //  console.log(window.history.scrollRestoration)
        window.history.scrollRestoration = 'manual'
        window.scrollTo(0, localStorage.getItem("scrollPosition"))
            //}
        setTimeout(function() {
            console.log("gjhkljhvjkl")
        })

        //alert("Attempt Scroll")
        //$("html, body").animate({ scrollTop: parseInt(localStorage.getItem("scrollPosition")) }, 2000);
        //setTimeout(function () { window.scrollTo(0, parseInt(localStorage.getItem("scrollPosition"))) }, 200)
        //setTimeout(function () { $("html, body").animate({ scrollTop: parseInt(localStorage.getItem("scrollPosition")) }, 2000); }, 200)
        //$("html, body").animate({ scrollTop: 5000 }, 2000);
        //window.scroll(0, parseInt(localStorage.getItem("scrollPosition")))
        //window.scrollTo(0, parseInt(localStorage.getItem("scrollPosition")));


    }
</script>


<script>
    $(document).on('click', '#blocker-page-community', function(e) {

        var addPostCommunityOptions = document.getElementById("add-post-community-options")
        var blockerPage = document.getElementById("blocker-page-community")

        addPostCommunityOptions.style.display = "none"
        blockerPage.style.display = "none"

        blockerPage.style.pointerEvents = "none"

    });
</script>
<script src="{% static 'PostIT/js/togglePostOptions.js'%}"></script>
<script src="{% static 'PostIT/js/toggleStoryOptions.js'%}"></script>
<script src="{% static 'PostIT/js/toggleColorMode.js'%}"></script>


<script>
    function updateVouchText(btn, no_of_vouches) {

        elem = "Vouch"
        btn[0].innerHTML = no_of_vouches + elem
        console.log(btn[0].innerHTML)
    }


    $(document).on('click', '#vouch-button', function(e) {
        e.preventDefault();

        var this_ = $(this)
        postid = this_.attr("value").valueOf()

        // var somevar = this_.attr()
        $.ajax({
            type: 'POST',
            url: '{% url "vouch" %}',
            data: {
                postid: postid,
                action: 'post',
            },
            success: function(json) {
                no_of_vouches = json['result'];
                console.log(json)
                updateVouchText(this_, no_of_vouches)
            },
            error: function(xhr, errmsg, err) {

            }
        });
    })
</script>

<script>
</script>
<script src="{% static 'PostIT/js/bottom_navbar.js'%}"></script>
{% endblock content %}