.stories-section{
    max-width: 100%;
    height: 300px;
    margin: 10px;
    margin-bottom: 50px;
    overflow: visible;
}
.stories-section .stories-container{
    display: flex;
    height: 100%;

}
.stories-section .stories-container li{
    
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    
    scroll-snap-align: start;
}
.stories-section .stories-container li img{
    width: 180px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    /* background: pink; */
    filter:  sepia(0%)  brightness(80%) contrast(85%);
    
    position: relative;


}


.stories-section .stories-container li video {
  width: 180px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
  /* background: pink; */
  filter:  sepia(0%)  brightness(80%) contrast(85%);
  position: relative;

}

.grayscale { filter: grayscale(100%); }

.stories-section .stories-container li a{
  position: relative;
  width: 180px;
  height: 300px;
  color: white;

}
.stories-section .stories-container li a .content-after {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 180px;
  height: 100%;
  /* background-image: linear-gradient(180deg, rgba(246,246,246,0) 0%, rgba(37, 37, 37,0.2) 84%, rgba(37, 37, 37, 0.8) 100%); */
  z-index: 10000;
  border-radius: 20px;
  transition: all 0.1s linear;
  opacity: 0;
}
.stories-section .stories-container li a:hover .content-after{
  opacity: 1;  
  box-shadow: var(--shadow3);
  /* box-shadow: 0 8px 8px -4px var(--light-theme1), 0 5px 3px -3px; */
} 
.stories-section .stories-container li a .content-after .vertical-bar{
  height: 0%;
  width: 5px;
  position: absolute;
  background-color: var(--light-theme1);
  top: 50%;
  left: -5px;
  border-radius: 10px;
  transition: all 0.2s linear;
}

.stories-section .stories-container li a:hover .content-after .vertical-bar{
  height: 80%;
  top: 10%;
  left: -5px;
}

/* .stories-section .stories-container li a .account-info{
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 10px;
  margin-left: 10px;
}
.stories-section .stories-container li a .account-info img{
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
} */

.stories-section .stories-container li a .story-body{
  color: var(--light-text2);
  font-family: var(--font-family1);
  font-size: small;
  width: 95%;
}


.stories-section .stories-container li .content-after .post-owner-info{
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 10px;
  margin-left: 10px;
}
.stories-section .stories-container li .content-after .post-owner-info img{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.swiper-navBtn{
    color: #6E93f7;
    transition: color 0.3s ease;
  }
  .swiper-navBtn:hover{
    color: #4070F4;
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 35px;
  }
  .swiper-button-next{
    right: 0;
  }
  .swiper-button-prev{
    left: 0;
  }
.swiper-slide{
  width: 190px !important;
  
}
.swiper-pagination{
  bottom: -25px !important;
}