{% load static %}
<div class="stories-section swiper">
    <div class="page-section-title"><i class="fa-solid fa-film"></i>
        <div class="text">Stories</div>
    </div>
    <div class="slide-content">
        <ul class="stories-container swiper-wrapper">
            <li class="swiper-slide" style="width: 300px;">
                <a href="{% url 'stories-page'%}">
                    <video> 
                                <source src="{% static 'PostIT/videos/Harbor_E.mp4' %}">
                                
                            </video>

                    <div class="account-info-header">
                        <img src="{% static 'PostIT/images/temp-imgs/omen.jpg' %}">
                        <div class="account-name">Omen</div>
                    </div>
                    <div class="story-body">
                        Lorem ipsum dolor sit amet.
                    </div>
                    <div class="content-after">
                        <div class="horizontal-bar"></div>
                    </div>
                </a>
            </li>
            <li class="swiper-slide" style="width: 300px;">
                <a href="{% url 'stories-page'%}"><img src="{% static 'PostIT/images/temp-imgs/messi-world-cup2.jpg' %}">
                    <div class="account-info-header">
                        <img src="{% static 'PostIT/images/temp-imgs/g2-gozen.jpg' %}">
                        <div class="account-name">G2 Gozen</div>
                    </div>
                    <div class="story-body">
                        Lorem ipsum dolor sit amet.
                    </div>
                    <div class="content-after">
                        <div class="horizontal-bar"></div>
                        <!-- <div class="post-owner-info">
                                    <img src="{% static 'PostIT/images/temp-imgs/omen.jpg' %}">
                                    <div class="post-owner-name">Omen</div>
                                </div> -->
                    </div>

                </a>
            </li>
            <li class="swiper-slide" style="width: 300px;">
                <a href="{% url 'stories-page'%}">
                    <img src="{% static 'PostIT/images/temp-imgs/boaster-vct-lock-in.jpg' %}">
                </a>
            </li>
            <li class="swiper-slide" style="width: 300px;">
                <a href="{% url 'stories-page'%}">
                    <img src="{% static 'PostIT/images/temp-imgs/mimi-trophy.jpg' %}">
                </a>
            </li>
            <li class="swiper-slide" style="width: 300px;">
                <a href="{% url 'stories-page'%}"><img src="{% static 'PostIT/images/temp-imgs/g2-gozen.jpg' %}"></a>
            </li>
            <li class="swiper-slide" style="width: 300px;">
                <img src="{% static 'PostIT/images/temp-imgs/omen.jpg' %}">
            </li>
            <li class="swiper-slide" style="width: 300px;">
                <img src="{% static 'PostIT/images/temp-imgs/messi-world-cup.jpg' %}">
            </li>
            <li class="swiper-slide" style="width: 300px;">
                <img src="{% static 'PostIT/images/temp-imgs/messi-world-cup.jpg' %}">
            </li>
            <li class="swiper-slide" style="width: 300px;">
                <img src="{% static 'PostIT/images/temp-imgs/messi-world-cup.jpg' %}">
            </li>
            <li class="swiper-slide" style="width: 300px;">
                <img src="{% static 'PostIT/images/temp-imgs/messi-world-cup.jpg' %}">
            </li>
            <li class="swiper-slide" style="width: 300px;">
                <img src="{% static 'PostIT/images/temp-imgs/messi-world-cup.jpg' %}">
            </li>
            <li class="swiper-slide" style="width: 300px;">
                <img src="{% static 'PostIT/images/temp-imgs/messi-world-cup.jpg' %}">
            </li>

        </ul>
        <div class="swiper-button-next swiper-navBtn"></div>
        <div class="swiper-button-prev swiper-navBtn"></div>

    </div>
    <div class="swiper-pagination"></div>
    <br/>
    <div class="show-more-section">
        <div class="text">Show more
            <div class="content-after">
            </div>
        </div>
    </div>
</div>