{% extends 'v1.01/base/base.html' %}
{% load static %}
{% block title %}
Page3 Homepage
{% endblock title %}

{% block content %}

{% include 'v1.01/navigation/navbar-top.html' %}

<div class="main-body">


    {% include 'v1.01/navigation/sidebar-left.html' %}
    <div class="stories-posts-timeline">

        <ul class="stories-infinite-container">
            <li class="story-post">
                <img src="{% static 'PostIT/images/temp-imgs/messi-world-cup.jpg' %}">
                <div class="story-post-options">
                    <div class="option-item">
                        <i class="fa-solid fa-heart" style="top: 20px; left: 16px;"></i>
                    </div>
                    <div class="option-item">
                        <span class="material-symbols-outlined">
                            comment
                        </span>
                    </div>
                    <div class="option-item">
                        <i class="fa-solid fa-ellipsis" style="top: 17px; left: 19px;"></i>
                    </div>
                </div>
            </li>
            <div class="story-comments">
                <ul class="story-comments-infinite-container">
                    <li class="story-comment">
                        <div class="commentor-info">
                            <img src="{% static 'PostIT/images/temp-imgs/g2-gozen.jpg' %}">
                            <div class="commentor-name">Mimi</div>
                        </div>
                        <div class="comment-body">
                            EQUIP Wingman FIRE to send Wingman forward seeking enemies. Wingman unleashes a concussive
                            blast toward the first enemy he sees ALT FIRE when targeting a Spike site or planted Spike
                            to have Wingman defuse or plant the Spike. To plant, Gekko must have the Spike in his
                            inventory. When Wingman expires he reverts into a dormant globule INTERACT to reclaim the
                            globule and gain another Wingman charge after a short cooldown.
                        </div>
                    </li>
                    <li class="story-comment">
                        <div class="commentor-info">
                            <img src="{% static 'PostIT/images/temp-imgs/g2-gozen.jpg' %}">
                            <div class="commentor-name">Mimi</div>
                        </div>
                        <div class="comment-body">
                            EQUIP Wingman FIRE to send Wingman forward seeking enemies. Wingman unleashes a concussive
                            blast toward the first enemy he sees ALT FIRE when targeting a Spike site or planted Spike
                            to have Wingman defuse or plant the Spike. To plant, Gekko must have the Spike in his
                            inventory. When Wingman expires he reverts into a dormant globule INTERACT to reclaim the
                            globule and gain another Wingman charge after a short cooldown.
                        </div>
                    </li>
                    <li class="story-comment">
                        <div class="commentor-info">
                            <img src="{% static 'PostIT/images/temp-imgs/g2-gozen.jpg' %}">
                            <div class="commentor-name">Mimi</div>
                        </div>
                        <div class="comment-body">
                            EQUIP Wingman FIRE to send Wingman forward seeking enemies. Wingman unleashes a concussive
                            blast toward the first enemy he sees ALT FIRE when targeting a Spike site or planted Spike
                            to have Wingman defuse or plant the Spike. To plant, Gekko must have the Spike in his
                            inventory. When Wingman expires he reverts into a dormant globule INTERACT to reclaim the
                            globule and gain another Wingman charge after a short cooldown.
                        </div>
                    </li>
                </ul>
            </div>
        </ul>
    </div>
</div>
{% endblock content %}