.posts-container .post-item {
    margin-top: 10px;
    min-height: 100px;
}

.posts-container .media_w_long_text {
    grid-row: auto / span 5;
}

.posts-container .media_w_short_text {
    grid-row: auto / span 5;
}

.posts-container .no_media_w_long_text {
    grid-row: auto / span 3;
}

.posts-container .no_media_w_short_text {
    grid-row: auto / span 2;
}

.post-item .post-inner-container {
    height: 100%;
}

.post-item .post {
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: relative;
    /* background-color: var(--light-secondary4); */
    position: relative;
    cursor: pointer;
}

.post-item .post.light {
    border: 1px solid var(--light-secondary1);
}

.post-item .post.dark {
    border: 1px solid var(--dark-secondary7);
    color: var(--dark-text2);
    box-shadow: var(--dark-shadow4);
}

.post-item .post:hover {
    background: radial-gradient(var(--light-theme4), #fff);
    box-shadow: var(--light-shadow4);
    /* background: linear-gradient(white, white) padding-box, linear-gradient(to bottom, var(--light-theme1), rgba(153, 50, 204, 0)) border-box; */
    border-radius: var(--border-radius-small1);
    border: 2px solid transparent;
    border-top: 2px solid transparent;
}

.post:hover .post-options-button {
    display: block;
    /* color: pink; */
}

.posts-container .has_no_media .post {
    display: grid;
    grid-template-rows: 20px 1fr 85px;
}

.posts-container .has_media .post {
    display: grid;
    grid-template-rows: 20px 1fr 85px;
}

.posts-container .has_media .post .post-mid-section {
    display: grid;
    grid-template-rows: 1fr min-content;
    position: relative;
}

.posts-container .post .post-mid-section .post-body-full {
    display: none;
}

.posts-container .media_w_long_text .post-mid-section .post-body-section:hover .post-body-full {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    background-image: var(--light-secondary4-gradient);
    padding-bottom: 30px;
}

.posts-container .media_w_long_text .post .post-mid-section .post-media {
    /* margin-top: auto; */
}

.post .post-top-section {
    display: flex;
}

.post .post-top-section .post-category-section {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 13px;
    font-family: var(--font-family2);
}

.post .post-top-section .post-category-section .post-category {
    border: 1px solid var(--light-theme3);
    padding: 0 4px;
    border-radius: 4px;
    font-size: 10px;
}

.post .post-top-section .post-category-section .material-symbols-outlined {
    font-size: 13px;
}

.post .post-mid-section .post-body-section {
    color: var(--light-text2);
    font-size: small;
    /* font-weight:36px; */
    font-family: var(--font-family2);
    max-height: 60px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no_media_w_long_text .post-mid-section .post-body-section {
    -webkit-line-clamp: 5;
    max-height: 100px;
}

.post .post-bottom-section .post-user-info-section {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    margin-top: 10px;
    width: 100%;
}

.post .post-options-button {
    display: none;
    color: var(--light-text3);
    margin-left: auto;
    position: relative;
    padding: 5px;
}

.post .post-options-button .post-options-list-close {
    /* margin-right: auto; */
    border-radius: 50%;
    border: none;
    background-color: var(--light-theme2);
    color: var(--light-primary1);
}

.post .show {
    display: block;
}

.post-options-list {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

.post-options-list .post-options-list-items {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    opacity: 1;
    color: black;
}

.post-options-list .post-options-list-items ul {
    width: 200px;
    background: var(--light-secondary4);
    border-radius: var(--border-radius-small1);
    z-index: 5;
    box-shadow: var(--light-shadow2);
    padding: 0;
}

.post-options-list .post-options-list-items ul:hover {
    /* background-color: pink; */
}

.post-options-list .post-options-list-items li {
    margin-right: auto;
    font-size: small;
    font-family: var(--font-family2);
    padding: 10px 0;
    border-radius: var(--border-radius-small1);
    padding-left: 30px;
    position: relative;
}

.post-options-list .post-options-list-items li .content-after {
    position: absolute;
    left: 5px;
    top: 50%;
    height: 0%;
    width: 3px;
    background-color: var(--light-theme1);
    border-radius: 10px;
    transition: all 0.1s linear;
}

.post-options-list .post-options-list-items li:hover {
    background-color: var(--light-secondary1);
}

.post-options-list .post-options-list-items li:hover .content-after {
    top: 10%;
    height: 80%;
}

.post-options-list .post-options-list-items li i {
    padding-right: 10px;
}

.post-options-list .post-options-list-items li:hover {
    /* background-color: pink; */
}

.post-options-list li {
    list-style: none;
}

.post .post-bottom-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.post .post-bottom-section .post-user-info-section .post-profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    /* gap: 5px; */
}

.post .post-bottom-section .post-user-info-section .post-profile-section .username {
    margin-right: auto;
    color: var(--light-text4);
    font-family: var(--font-family2);
    font-size: small;
}

.post .post-bottom-section .post-user-info-section .post-profile-section .date {
    font-size: 10px;
    font-family: var(--font-family2);
    color: var(--light-text3);
}

.post .post-bottom-section .post-user-info-section a img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.post .post-user-info-section .post-profile-section {
    margin-right: auto;
}

.post .post-user-info-section .like-button,
.post .post-user-info-section .reply-button {
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
}

.post .post-media img {
    height: 150px;
    object-fit: cover;
    margin: auto;
    width: 100%;
    margin-top: 5px;
    border-radius: var(--border-radius-small1);
    background-color: black;
}

.media_w_short_text .post-media img {
    height: 210px;
}

.media_w_long_text .post-media img {
    height: 170px;
}

.post .post-video {
    height: 150px;
    object-fit: cover;
    margin: auto;
    width: 100%;
    margin-top: 5px;
    border-radius: var(--border-radius-small1);
    background-color: black;
}

.media_w_long_text .post-media video {
    height: 170px;
}

.media_w_short_text .post-media video {
    height: 210px;
}


/* New grid start */

.post-box {
    width: 1200px;
    margin: 0px auto;
    columns: 4;
    column-gap: 2px;
}

.post-box .box {
    max-width: 300px;
    padding: 20px;
    background-color: pink;
    border: 1px solid #fff;
    margin-bottom: 2px;
    break-inside: avoid;
}

.post-box .box img {
    width: 100%;
    height: 170px;
    object-fit: contain;
}


/* new grid end */