{% extends 'v1.01/base/base.html' %} {% load static %} {% block title %} Page3 -
Profile {% endblock title %} {% block content %} {% include 'v1.01/navigation/navbar-top.html' %}
<div class="main-body">
  {% include 'v1.01/navigation/sidebar-left.html' %}

  <div class="page-contents user-profile-page-contents">
    <div class="profile-interact-section">
      <div class="interact-btn">
        Follow
      </div>
      <div class="interact-btn">
        Vouch
      </div>
    </div>
    <div class="logged_in_user" style="display: none">{{user.username}}</div>
    <div class="not_display_info">
      <h2 class="user_name" style="display: none">
        {{profile_owner.username}}
      </h2>
    </div>

    {%for g in selected_user_gamer_profiles%} {% if g.game == selected_user_main_gamer_profile.main_gamer_profile.game %}

    <div class="main_game" style="display: none">{{g.game}}</div>
    <div class="profile-page-header">

      <div class="profile-header-img"><img src="/static/PostIT/images/header1.jpg"></div>
    </div>
    {%endif%} {%endfor%}
    <div class="profile-stats">
      <div class="profile-stats-left">
        <div class="player-card-section" id="player-card-section"></div>
        {%for g in selected_user_gamer_profiles%} {% if g.game == selected_user_main_gamer_profile.main_gamer_profile.game %}
        <div class="profile-info-container">
          <div class="dropdown-btn-section">
            {% include 'v1.01/gamerProfile/gamer_profile_dropdown_btn.html' %}
          </div>

          <div class="user-profile-info ">
            
            <div class="info-item">
              <div class="value">103</div>
              <div class="label">Followers</div>
            </div>
            <div class="info-item">
              <div class="value">25</div>
              <div class="label">Following</div>
            </div>
            <div class="info-item">
              <div class="value">5</div>
              <div class="label">Vouched</div>
            </div>
          </div>
          
          <div id="additional-stats-desktop" class="additional-stats-desktop">

          </div>
          </div>
        {%endif%} {%endfor%}

        
      </div>
      <div class="profile-stats-right section-bg"  id="profile-stats-right">
          {% include 'v1.01/user/user_profile_page_menus.html' %}
                <div class="blocker-page-community" id="blocker-page-community"></div>
                <ul>
                    {% if objects.has_next %}
                    <a class="infinite-more-link" href="?page={{objects.next_page_number}}"></a>

                    {% endif %}


                    <div class="infinite-container profile-page-posts-container" id="myDIV">


                        {% for post in posts %}
                        {% if not post.is_reply %}
                        <div class="infinite-item post-item">
                            <div value="{{ post.id }}">
                                {% include 'v1.01/post/post_element/post_element_home_timeline.html' %}

                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>

                </ul>
                
            </div>
      
  </div>

  {% include 'v1.01/navigation/sidebar-right.html' %}
</div>
<div class="body-bg"></div>

<script src="{% static 'PostIT/js/bottom_navbar.js'%}"></script>

<script src="{% static 'PostIT/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'PostIT/js/infinite.min.js'%}"></script>
<script src="{% static 'v.1.01/js/sidebar-functionality/sidebar-expand-collapse.js'%}"></script>

<script src="{% static 'PostIT/js/togglePostOptions.js'%}"></script>
<script src="{% static 'PostIT/js/toggleStoryOptions.js'%}"></script>
<script src="{% static 'PostIT/js/toggleColorMode.js'%}"></script>

<script>
  function playPauseVideo() {
    let videos = document.querySelectorAll("video");
    console.log("VIDEOS" + videos);
    videos.forEach((video) => {
      // We can only control playback without insteraction if video is mute
      video.muted = true;
      // Play is a promise so we need to check we have it
      let playPromise = video.play();
      if (playPromise !== undefined) {
        playPromise.then((_) => {
          let observer = new IntersectionObserver(
            (entries) => {
              entries.forEach((entry) => {
                if (entry.intersectionRatio !== 1 && !video.paused) {
                  video.pause();
                } else if (video.paused) {
                  video.play();
                }
              });
            },
            {
              threshold: 0.9,
            }
          );
          observer.observe(video);
        });
      }
    });
  }
</script>

<script>
  var selected_gamer_profile;
  $(".games-dropdown-container").css("display", "none");

    $("#dropdown-btn").click(Toggle_Main_Dropdown_Display);
    selected_gamer_profile = $(".main_game").text();
    get_selected_game_stats();
    Toggle_Main_Dropdown_Display();
    Default_Bottom_Navabar_State();


  $(".games-dropdown-btn").click(function () {
    selected_gamer_profile = $(this).text().trim();
    console.log(selected_gamer_profile);
    get_selected_game_stats();
  });

  function get_selected_game_stats() {
    user_name = $(".user_name").text().replaceAll(" ", "");
    $.ajax({
      type: "POST",
      url: `/get_user_profile_stats/${user_name}/${selected_gamer_profile}`,

      dataType: "json",
      data: {
        game: selected_gamer_profile,
        csrfmiddlewaretoken: "{{ csrf_token }}",
      },
      success: function (response) {
        $("#player-card-section").html(response["gamer_profile_stats"]);
        
        $("#additional-stats-desktop").html(response["sidebar_additional_stats"]);
        $("#additional-stats-mobile").html(response["sidebar_additional_stats"]);
        console.log(response["game_logo"]);
        $(".gamer_profiles-btn_to_show_all_stats_text").text(
          selected_gamer_profile
        );
        $(".gamer_profiles-btn_to_show_all_stats-img").attr(
          "src",
          response["game_logo"]
        );
        $(".games-dropdown-container").css("display", "none");
      },
    });
  }

  function Toggle_Main_Dropdown_Display() {
    if ($(".games-dropdown-container").css("display") == "flex") {
      $(".games-dropdown-container").css("display", "none");
    } else $(".games-dropdown-container").css("display", "flex");
  }

  
</script>
<script>
  if (window.innerWidth < 768 || window.screen.width < 768) {
      // User is on a phone
      $('.page-contents').addClass('mobile-view');
      $('.profile-stats-left').addClass('mobile-view');
      
    } else {
      // User is on a desktop
      $('.page-contents').addClass('desktop-view');
      $('.profile-stats-left').addClass('desktop-view');
    }
</script>
<script src="{% static 'PostIT/js/togglePostOptions.js'%}"></script>
<script src="{% static 'v.1.01/js/add-mobile-view-classes.js'%}"></script>
{% endblock content %}
