.user-profile-page-contents {
    width: 100%;
    height: 100%;
}

.dark .body-bg {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background: var(--dark-gradient3);
    z-index: -1;
}

.light .body-bg {
    display: none;
}

.user-profile-page-contents .profile-stats {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-gap: 65px;
    margin: 0 auto;
}

.profile-stats .user-personal-info-section {
    margin-top: 65px;
}

.profile-stats .user-personal-info-section .user-bio {
    border-bottom: 1px solid var(--dark-secondary7);
    margin: 5px 5px;
    padding-bottom: 10px;
}

.dark .profile-stats .user-personal-info-section .user-bio {
    color: var(--dark-text2);
}


/* Game profile select button section start */

.user-profile-page-contents .game-specific-all-stats {
    width: 100%;
    display: grid;
    grid-template-columns: 295px 1fr;
    margin: 0 auto;
    position: relative;
}

.game-specific-all-stats .profile-info-container {
    position: relative;
    width: 100%;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.game-specific-all-stats .profile-info-container .button-contents {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 50px;
    background-color: var(--dark-secondary5);
    padding: 10px 10px;
    border-radius: var(--border-radius-small1);
    cursor: pointer;
    color: var(--dark-text2);
}

.game-specific-all-stats .profile-info-container .button-contents .arrow {
    margin-left: auto;
}

.game-specific-all-stats .profile-info-container .button-contents img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.user-profile-page-contents .games-dropdown-container {
    position: absolute;
    top: 55px;
    left: 0px;
    width: 100%;
    z-index: 10;
}

.user-profile-page-contents .games-dropdown-container .games-dropdown-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: var(--light-secondary1);
    padding: 10px 0px;
    border-radius: var(--border-radius-small1);
}

.dark .user-profile-page-contents .games-dropdown-container .games-dropdown-list {
    background-color: var(--dark-secondary3);
}

.user-profile-page-contents .games-dropdown-container .games-dropdown-list img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.dark .games-dropdown-container .games-dropdown-list .games-dropdown-btn {
    background-color: var(--dark-secondary3);
    color: var(--dark-text2);
}

.games-dropdown-container .games-dropdown-list .games-dropdown-btn {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 50px;
    background-color: var(--light-theme4);
    border: none;
    padding: 10px 10px;
    border-radius: var(--border-radius-small1);
    position: relative;
}

.games-dropdown-container .games-dropdown-list .games-dropdown-btn .content-after {
    width: 4px;
    height: 0%;
    background-color: var(--light-theme1);
    position: absolute;
    right: 3px;
    top: 50%;
    border-radius: 10px;
    transition: all linear 0.1s;
}

.dark .games-dropdown-container .games-dropdown-list .games-dropdown-btn:hover {
    background-color: var(--dark-secondary4);
}

.games-dropdown-container .games-dropdown-list .games-dropdown-btn:hover .content-after {
    top: 10%;
    height: 80%;
}


/* Game profile select button section end */


/* Player-card section start */

.full_stats_section .player-card-section {
    position: relative;
}

.full_stats_section .player-card-section .player-game-card-img-holder {
    position: absolute;
    top: 10px;
    left: 50px;
}

.full_stats_section .player-card-section .player-game-card-img-holder img {
    width: 215px;
}

.player-card-section .player-card-components {
    position: relative;
}

.player-card-section .player-card-components .player-card-top-stats {
    position: relative;
}

.player-card-section .player-card-components .card-stats-player-img {
    position: absolute;
    top: 90px;
    right: 65px
}

.player-card-section .player-card-components .card-stats-player-img img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    z-index: 11;
}

.player-card-components .top-card-stats-container {
    position: absolute;
    top: 65px;
    left: 78px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.player-card-components .bottom-sections-stats {
    position: absolute;
    width: 70%;
    top: 210px;
    left: 70px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 12;
}

.player-card-components .bottom-sections-stats .card_game_stat {
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    font-size: 13px;
}

.player-card-components .bottom-sections-stats .card_game_stat .label {
    font-weight: 700;
    font-size: 12px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.player-card-components .top-card-stats-container .top_game_stat .player-rank-img img {
    height: 50px;
    object-fit: cover;
}

.player-card-components .top-card-stats-container .top_game_stat .player-nationality-img img {
    height: 35px;
    object-fit: cover;
}

.player-card-components .player-name-container {
    position: absolute;
    top: 175px;
    left: 60px;
    width: 65%;
}

.player-card-components .player-name-container .player-name {
    text-align: center;
    font-weight: 700;
}

.player-card-components .top-section-divider {
    position: absolute;
    height: 2px;
    width: 65%;
    top: 200px;
    left: 60px;
    background-color: black;
}


/* Player-card section end */


/* User profile Info start */

.profile-info-container .user-profile-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

.profile-info-container .user-profile-info .info-item {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
}

.profile-info-container .user-profile-info .info-item .label {
    width: 100%;
    text-align: center;
    padding: 5px;
    border-radius: var(--border-radius-small1);
}

.dark .profile-info-container .user-profile-info .info-item .label {
    background-color: var(--dark-secondary4);
}

.dark .profile-info-container .user-profile-info .info-item {
    color: var(--dark-text2);
}

.user-personal-info-section .interact-buttons {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.user-personal-info-section .interact-buttons button {
    border: none;
    padding: 5px 10px;
    border-radius: var(--border-radius-small1);
    width: 100%;
}

.dark .user-personal-info-section .interact-buttons button {
    background-color: var(--dark-secondary4);
    color: var(--dark-text2);
}


/* User profile Info end */


/* Detailed stats section start */

.detailed-stats-section {
    position: absolute;
    top: 400px;
    left: 0px;
    width: 100%;
}

.dark .detailed-stats-section .detailed-stats-container {
    color: var(--dark-text2);
}

.detailed-stats-section .detailed-stats-container .section-label {
    margin-left: 20px;
    font-weight: 900;
}

.detailed-stats-section .detailed-stats-container .section-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 15px;
    border: 1px solid var(--dark-secondary4);
    border-radius: var(--border-radius-small1);
}

.detailed-stats-section .detailed-stats-container .section-wrapper .game_stat {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.detailed-stats-section .detailed-stats-container .section-wrapper .bar_stats {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.detailed-stats-section .detailed-stats-container .section-wrapper .bar_stats .stat_container {
    margin-bottom: 20px;
}

.detailed-stats-section .detailed-stats-container .section-wrapper .bar_stats .bar_label {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.detailed-stats-section .detailed-stats-container .section-wrapper .bar_stats .bar_label .role_logo {
    height: 20px;
    object-fit: cover;
}

.detailed-stats-section .detailed-stats-container .section-wrapper .bar_stats .bar_holder {
    width: 100%;
    background-color: black;
    height: 8px;
}

.detailed-stats-section .detailed-stats-container .section-wrapper .bar_stats .bar_holder .bar_display {
    height: 100%;
    background-color: var(--light-theme1);
}


/* Detailed stats section end */