{% load static %}
<div class="post-top-section">
    <div class="post-category-section">
        <!-- <span class="material-symbols-outlined icon">
            topic
            </span> -->
        <a class="post-category">
            {{post.category}}</a>

    </div>

</div>

<div class="post-mid-section">
    <a class="post-body-section" id="post-body-section" onclick="storeScroll()" href="{% url 'upload_reply' post.pk %}">
        {% if replyingToIsReply %}
        <p>@{{replyingToAuthor}} </p>
        {% endif %}

        {% if post.post_type %}
        <div class="post-type">
            {{post.post_type}}
        </div>
        {% endif %}
        <div class="post-body-cropped">{{post.body|linebreaksbr}}</div>
        <div class="post-body-full">{{post.body|linebreaksbr}}</div>
        
    </a>
    <div class="post-media">
        {% if post.image1 %}
        <img src="{{ post.image1.url}}" width="500"> {% endif %} {% if post.has_images %} {% for url in post.images_urls_list %}

        <img src="/media/{{url }}" alt="Image"> {% endfor %} {% endif %} {% if post.video %}
        <video class="post-video" width="500" controls autoplay>
            <source src="{{post.video.url}}" type="video/mp4">
        </video>
        <div class="post-tags">
            {%for t in post.get_Tag%} {{t}} {%endfor%}
        </div>
        <!-- <a href="{{post.video.url}}">Link</a> -->

        {% endif %}
    </div>
</div>