{% load static %}
<div class="post">
    {% include 'v1.01/post/post_element/post_content_section.html' %}
    <div class="post-bottom-section">
        <section class="post-user-info-section">
            <div class="profile-pic">
                {%if post.author.profile.profile_pic.name %}
                <a href="{%url 'user-profile-stats' post.author%}"><img src="{{ post.author.profile.profile_pic.url }}" width="500"></a>
                {% endif %}
                <!-- <img src="{{ post.user_profile.profile_pic.url }}" width="500"> -->
            </div>

            <span class="post-profile-section">
                    <div class="username">
                        <a href="{%url 'user-profile-stats' post.author%}">
                            {{post.author}}
                        </a>
                        {% if post.is_lft_lfp_post %}
                        <a href="{% url 'vouched-by' post.author.profile.id %}" class="vouch-info"><i class="fa-solid fa-award"></i>
                            {{post.author.profile.vouched_by.count}}
                        </a>
                        {% endif %}
                    </div>
                    <div class="date">
                        <small> {{post.post_date}}</small>
                    </div>
                </span>

            <div id="three-dots" class="post-options-button three-dots" value="{{post.id}}">

                <div class="post-options-list " id="post-options-list" value="{{post.id}}">

                    <div class="post-options-list-items">

                        <ul>
                            {% if user.is_authenticated %} {% if user.id == post.author.id %}

                            <li><a href="{% url 'delete-post' post.pk %}"><i class="fa-solid fa-trash"></i>Delete</a>
                                <div class="content-after"></div>
                            </li>
                            <!-- <button id="like-button" value="{{ post.pk }}">Like</button> -->
                            {% endif %} {% endif %}
                            <li><i class="fa-solid fa-bookmark"></i>Add to Bookmarks
                                <div class="content-after"></div>
                            </li>
                            <li><i class="fa-solid fa-share"></i>Share
                                <div class="content-after"></div>
                            </li>
                            <li><i class="fa-solid fa-user-plus"></i>Follow @{{post.author}}
                                <div class="content-after"></div>
                            </li>
                            <li><i class="fa-solid fa-ban"></i>Block @{{post.author}}
                                <div class="content-after"></div>
                            </li>
                            <li><i class="fa-solid fa-volume-xmark"></i>Mute @{{post.author}}
                                <div class="content-after"></div>
                            </li>
                            <li><i class="fa-solid fa-flag"></i>Report post
                                <div class="content-after"></div>
                            </li>
                        </ul>
                        <button id="post-options-list-close" class="post-options-list-close" value="{{post.id}}"><i class="fa-solid fa-xmark"></i></button>
                        <div class="blocker" id="blocker" value="{{post.id}}"></div>
                    </div>

                </div>
                <i class="fa-solid fa-ellipsis-vertical" id="three-dots" value="{{post.id}}"></i>
            </div>

        </section>
        {% if user.is_authenticated %}

        <div class="post-interact-btns">
            <div class="post-interact"></div>
            <button id="like-button" class="like-button" name="{{ post.like_count }}" value="{{ post.id }}">{{post.like_count}}<i class="fa-regular fa-heart"></i>
                </button>


            <a class="reply-button" href="{% url 'upload_reply' post.pk %}" onclick="storeScroll()">
                    {{post.reply_count}}<i class="fa-regular fa-comment"></i></a>


        </div>
        {% endif %}



    </div>
</div>