.home-page-categories {
    /* margin-top: 120px; */
    overflow: hidden;
}

.home-page-categories li {
    list-style: none;
}

.home-page-categories .categories-container {
    /* display: flex;
    gap: 15px; */
}

.home-page-categories .categories-container .category-item {
    border-radius: var(--border-radius-small1);
    width: fit-content !important;
    padding: 10px;
    cursor: pointer;
}

.home-page-categories .categories-container .category-item a {
    color: inherit !important;
}

.home-page-categories .categories-container .category-item.light {
    background-color: var(--light-primary1);
}

.home-page-categories .categories-container .category-item.dark {
    background: var(--dark-secondary5);
    border-top: 1px solid var(--dark-secondary7);
    color: var(--dark-text2);
    box-shadow: var(--dark-shadow4);
}

.home-page-categories .categories-container .category-item.dark:hover {
    /* background: var(--dark-gradient4); */
    background-size: 90% 3px, auto;
    color: var(--dark-theme2);
    border: 1px solid var(--dark-secondary6);
}

.categories-container .category-item .category-label {
    font-size: 13px;
}