:root {
    /* universal values */
    --border-radius-small1: 5px;
    --font-family1: 'Open Sans', sans-serif;
    --font-family2: 'Poppins', sans-serif;
    --shadow1: 0 3px 5px rgb(0 0 0 / 0.2);
    --shadow2: 2px 2px 5px rgb(0 0 0 / 0.1);
    --shadow3: 1px 2px 5px rgb(0 0 0 / 0.4);
    --shadow4: 2px 1px 6px rgb(0 0 0 / 0.05);
    /* light mode */
    --light-searchbar1: #ece7ee;
    --light-primary1: #f9f5fc;
    --light-secondary1: #f2e7fa;
    --light-secondary3: #f9f5fc;
    --light-secondary4: #f9f9fa;
    --light-gradient1: #f9f5fc;
    --light-theme1: #a13bf5;
    --light-theme2: #b467f3;
    --light-theme3: #e7d9f3;
    --light-theme4: #f4edfa;
    --light-theme5: #f8f5f8;
    --light-text1: #000000;
    --light-text2: #2e2e2e;
    --light-text3: #888787;
    --light-text4: #6b6a6a;
    --light-text5: #605d61;
    --light-hover-bar1: linear-gradient(#a13bf5, #a13bf5), linear-gradient(#f9f5fc, #f9f5fc);
    --light-hover-bar2: linear-gradient(#a13bf5, #a13bf5), linear-gradient(#f2e7fa, #f2e7fa);
}

body {}

.main-body {
    position: relative;
}

.page-contents {
    margin-left: 60px;
    margin-top: 65px;
}

.show-more-section {
    font-family: var(--font-family2);
    font-size: small;
    display: flex;
    justify-content: center;
}

.show-more-section .text {
    padding: 5px;
    border-radius: var(--border-radius-small1);
    background-color: var(--light-primary1);
    cursor: pointer;
    /* background-size: 0 2px, auto;  */
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .2s ease-out;
    position: relative;
}

.show-more-section .text .fa-caret-right {
    padding-left: 3px;
    top: 1px;
    position: relative;
}

.show-more-section .text .content-after {
    position: absolute;
    width: 0%;
    height: 3px;
    bottom: 0px;
    left: 50%;
    background-color: var(--light-theme1);
    transition: all 0.2s linear;
}

.show-more-section .text:hover {
    background-color: var(--light-secondary1);
    background-size: 90% 3px, auto;
}

.show-more-section .text:hover .content-after {
    width: 90%;
    left: 5%;
}

.show-more-section .text:hover .fa-caret-right {
    color: var(--light-theme1);
}

.section-divider {
    border-top: 1px solid var(--light-text3);
    width: 98%;
    margin: auto;
    border-radius: var(--border-radius-small1);
    /* width: 100px;
    height: 100px; */
    /* color: pink; */
}

.page-section-title {
    color: var(--light-text2);
    font-family: var(--font-family2);
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 0 20px 20px 50px;
}

.page-section-title .text {
    border-bottom: 3px solid var(--light-theme1);
}

.page-section-title .fa-film {
    font-size: large;
    color: var(--light-theme1);
}

.posts-timeline .home-page-menus {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.home-page-menus .menu-icon-container {
    width: 150px;
    background-color: var(--light-primary1);
    border-radius: var(--border-radius-small1);
    height: 40px;
}

.home-page-menus .menu-icon-container .item {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
    gap: 10px;
    position: relative;
    font-family: var(--font-family2);
    font-size: small;
}

.home-page-menus .menu-icon-container .selected-tab .content-after {
    position: absolute;
    bottom: -10px;
    height: 4px;
    width: 90%;
    border-radius: 10px;
    background-color: var(--light-theme1);
}

.posts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-auto-rows: 75px;
}


/* Account info header start */

.account-info-header {
    display: flex;
    align-items: center;
    color: var(--light-text4);
    font-family: var(--font-family2);
    font-size: small;
    /* gap: 10px; */
    /* position: absolute; */
    /* bottom: 10px; */
    /* margin-left: 10px; */
}

.account-info-header img {
    width: 30px !important;
    height: 30px !important;
    margin-right: 10px;
    object-fit: cover;
    border-radius: 50% !important;
}

.account-info-header .account-name {
    font-family: var(--font-family2);
    font-size: small;
}


/* Account info header end */


/* blocker start */

.blocker {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    display: none;
    z-index: 4;
    /* background: pink; */
    /* background: rgba(0, 0, 0, .5); */
}

.blocker .show {
    display: block;
}


/* blocker end */


/* home page menus start */

.menu-icon-container .item {
    color: var(--light-text5);
}


/* home page menus end */

.home-page-categories ul {
    color: var(--light-text5);
    font-family: var(--font-family2);
}

.home-page-categories li {
    margin: 0 10px;
    height: 50px;
}

.home-page-categories li a {
    display: flex;
    justify-content: center;
}

.home-page-categories li .topic-title-noimg {
    position: relative;
    top: 5px;
}

.home-page-categories li .topic-title {
    position: relative;
    top: 5px;
    padding-left: 10px;
}

.home-page-categories img {
    height: 30px;
    width: 30px;
    object-fit: contain;
}


/* category label start */


/* categiry label end */

@media (max-width:1200px) {
    .posts-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:900px) {
    .posts-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:600px) {
    .posts-container {
        grid-template-columns: 1fr;
    }
}