:root {
    --primary-color: #0f1923;
}

body{
    color: var(--primary-color);
}

.page-contents{
    
}
.infinite-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;

}
.post{
    
    background-color: var(--primary-color);
    
}