{% load static %}
<div class="sidebar-left light" id="sidebar-left">


    <div class="sidebar-middle-section">
        <div class="sidebar-list">

            <ul>

                <li>
                    <a href="#" class="sidebar-toggle">
                        <div class="sidebar-toggle-icon">
                            <i class="fa-solid fa-bars "></i>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="sidebar-list-item">
                            <i class="fa-solid fa-hashtag"></i>
                            <div class="label"> Explore </div>
                            <div class="hover-content"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="sidebar-list-item">
                            <i class="fa-solid fa-bookmark"></i>
                            <div class="label"> Bookmarks</div>
                            <div class="hover-content"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="sidebar-list-item">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <div class="label"> Discover</div>
                            <div class="hover-content"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="sidebar-list-item">
                            <i class="fa-solid fa-newspaper"></i>
                            <div class="label"> Latest News</div>
                            <div class="hover-content"></div>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="{% url 'matchmaking-home' user%}">
                        <div class="sidebar-list-item">
                            <i class="fa-solid fa-users-viewfinder"></i>
                            <div class="label"> Matchmaking</div>
                            <div class="hover-content"></div>
                        </div>

                    </a>
                </li>
                <li>

                    <div class="sidebar-list-item profile-dropdown-btn" id="profile-dropdown-btn">
                        <i class="fa-solid fa-user"></i>
                        <div class="label label_w_dropdown">
                            Profile <i class="fa-solid fa-angle-down"></i></div>
                        <div class="hover-content"></div>
                        <div class="profile-dropdown-options" id="profile-dropdown-options">
                            <ul>
                                <li class="profile-dropdown-item"> <a href="#">View Profile</a></li>
                                <li class="profile-dropdown-item"><a href="#">Edit Profile</a></li>
                                <li class="profile-dropdown-item"><a href="#">Log out</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#">
                        <div class="sidebar-list-item theme" id="theme">
                            <i class="fa-solid fa-circle-half-stroke"></i>
                            <div class="label"> Theme</div>
                            <div class="hover-content"></div>
                        </div>

                    </a>
                </li>
            </ul>
        </div>

    </div>



    <div class="bottom-sidebar">
        <hr /> {% if user.profile %}
        <div class="settings-section">
            <div class="section-title"><i class="fa-solid fa-gear"></i></div>
        </div>
        {% endif %}
    </div>

    <div id="profile-dropdown-options-blocker"></div>
</div>

<script>
    function navbarProfileSettingsToggle() {
        var navbarProfileSettingsOptions = document.getElementById("sidebar-profile-settings-options")
        var blockerPage = document.getElementById("blocker-page")



        if (navbarProfileSettingsOptions.style.display === "block") {
            navbarProfileSettingsOptions.style.display = "none"
            blockerPage.style.display = "none"
        } else {
            navbarProfileSettingsOptions.style.display = "block"
            blockerPage.style.display = "block"
            blockerPage.style.pointerEvents = "auto"
        }
    }

    $(document).on('click', '#blocker-page', function(e) {

        var navbarProfileSettingsOptions = document.getElementById("sidebar-profile-settings-options")
        var blockerPage = document.getElementById("blocker-page")

        navbarProfileSettingsOptions.style.display = "none"
        blockerPage.style.display = "none"

        blockerPage.style.pointerEvents = "none"

    });
</script>

<script>
    $('#profile-dropdown-btn').click(function() {
        $('#profile-dropdown-options').toggle();
        $('#profile-dropdown-options-blocker').toggle();
    })
    $('#profile-dropdown-options-blocker').click(function() {
        $('#profile-dropdown-options').hide();
        $('#profile-dropdown-options-blocker').hide();
    })
</script>