{% load static %} {%for g in selected_gamer_profiles%}

<div class="detailed-stats-container">
  {% include 'v1.01/user/user_profile_page_menus.html' %}
  
  <div class="section-wrapper">
    <div class="user-bio">
      <div class="page-section-title section-label">
      <i class="fa-solid fa-film"></i>
      <div class="text {{theme}}">Bio</div>
    </div>
              I am the best Valorant player in my region, and top 10 in my home
              country. I love knifing Phoenix ults
            </div>
  </div>
    

    <div class="split-section">
      <div class="section-wrapper">
      <div class="page-section-title section-label">
        <i class="fa-solid fa-film"></i>
        <div class="text {{theme}}">Roles</div>
      </div>
      <div class="bar_stats">
        {%for label, value, logo, bar_color in saved_roles_rating%}
        <div class="stat_container">
          <div class="bar_label">
            <img class="role_logo" src="{{logo}}" alt="" />{{label}}
          </div>

          <div class="bar_holder" id='{{label}}{{"_bar"}}'>
            <div
              class="bar_display"
              style="background-color: {{bar_color}}"></div>
            <div class="bar_value" style="display: none">{{value}}</div>
          </div>
        </div>
        {%endfor%}
      </div>
      <div class="game_stat vertical">
        <div class="label"><i class="fa-solid fa-book"></i> More info :</div>
        <div class="value">{{g.remarks}}</div>
      </div>

      <div class="bar_stats">
        <div class="label">
          <i class="fa-solid fa-headphones-simple"></i> Communication level :
        </div>
        <div class="stat_container">
          <div class="bar_holder" id="communication_level_bar">
            <div class="bar_display"></div>
            <div class="bar_value" style="display: none">
              {{g.communication_level}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-wrapper">
      <div class="page-section-title section-label">
        <i class="fa-solid fa-film"></i>
        <div class="text {{theme}}">Skillset</div>
      </div>
      {%for item in additional_info%} {% if item.game == 'Valorant' %}
      <div class="game_stat">
        <div class="label"><i class="fa-solid fa-user-ninja"></i> Agents:</div>
        <div class="value">{{item.info.0}}</div>
      </div>
      <div class="game_stat">
        <div class="label">
          <i class="fa-solid fa-map-location"></i> Best Maps:
        </div>
        <div class="value">{{item.info.1}}Split, Lotus</div>
      </div>
      {%endif%} {%endfor%}

      <div class="game_stat">
        <div class="label">
          <i class="fa-solid fa-magnifying-glass-arrow-right"></i> Status :
        </div>
        <div class="value">{{g.user_status}}</div>
      </div>
      <div class="game_stat">
        <div class="label">
          <i class="fa-solid fa-magnifying-glass-arrow-right"></i> Rank you think you deserve :
        </div>
        <div class="value">Radiant</div>
      </div>
    </div>

      
    </div>

    <div class="section-wrapper">
      <div class="page-section-title section-label">
        <i class="fa-solid fa-film"></i>
        <div class="text {{theme}}">Career</div>
      </div>
      {%for item in g.experience%}
      <div class="game_stat">
        <div class="label">
          <i class="fa-solid fa-people-group"></i> Team/ Org
        </div>
        <div class="value">{{item.0}}</div>
      </div>
      <div class="game_stat">
        <div class="label">
          <i class="fa-solid fa-briefcase"></i> Experience/ Role
        </div>
        <div class="value">{{item.1}}</div>
      </div>
      {%endfor%}
      <div class="section-info">
        <div class="section-label">
          <div class="page-section-title section-label">
        <i class="fa-solid fa-film"></i>
        <div class="text {{theme}}">Achievements</div>
      </div>
        </div>

        <div class="game_stat flexible">
          <div class="value">{{g.achievements}}</div>
        </div>
      </div>
    </div>
  </div>

    

  <div>
    <a href="{% url 'add-profile-post' g.game %}">
      <button class="button-5" value="{{g.game}}">
        Create post with your Profile
      </button>
    </a>
    <button>Follow</button>
  </div>

  {%endfor%}
</div>
