{% load static %}
{%for g in selected_gamer_profiles%}
<div class="section-wrapper">
        <div class="page-section-title section-label">
        <i class="fa-solid fa-film"></i>
        <div class="text {{theme}}">Career</div>
</div>
   {%for url, KDA in weapons_info %}
    <div class="game_stat stats_w_image">
        <div class="stat_display_img">
            <img src="{{url}}" alt="">
        </div>
        <div class="value">KDA: {{KDA}}</div>
    </div>
   {%endfor%}

    <div class="flexible">
        <div class="value">{{g.achievements}}</div>
    </div>
    </div>
</div>
{%endfor%}