.sidebar-right{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 140;
    background-color: var(--light-secondary1);
    color: black;
    height: 100vh;
    /* width: 700px; */
    width: 0;
    transition: width 0.1s linear;
}
.sidebar-right .sidebar-section{
    width: 100%;
    position: relative;
}
.sidebar-right .sidebar-section .sidebar-section-title{
    display: flex;
    align-items: center;
    margin: 10px;
    gap: 15px;
}
.sidebar-right .sidebar-section .sidebar-section-title i{
    color: var(--light-theme1);
}
.sidebar-right .sidebar-section .sidebar-section-title .profile-label{
    border-bottom: 3px solid var(--light-theme1);
}
.sidebar-right a {
    color: black;
}

.sidebar-right .gamer_profiles .gamer_profiles-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    height: 55px;
    margin: auto;
    border: none;
    border-radius: 10px;
    position: relative;
}
.sidebar-right .gamer_profiles .gamer_profiles-btn .content-after{
    position: absolute;
    left: 0;
    top: 50%;
    width: 4px;
    height: 0%;
    background-color: var(--light-theme1);
    border-radius: 10px;
    transition: all 0.2s linear;
}
.sidebar-right .gamer_profiles .gamer_profiles-btn:hover .content-after{
    top: 5%;
    height: 90%;
}
.sidebar-right .gamer_profiles .gamer_profiles-btn .button-contents{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
}

.sidebar-right .gamer_profiles .gamer_profiles-btn img{
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.sidebar-right .sidebar-section .gamer_profiles_dropdown-container{
    position: absolute;
    top: 90px;
    width: 98%;
    margin: 0 5px;
    border: none;
}
.sidebar-right .sidebar-section .gamer_profiles_dropdown-container .gamer_profiles_dropdown{
    width: 100%;
}
.sidebar-section .gamer_profiles_dropdown-container .gamer_profiles_dropdown img{
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.sidebar-section .gamer_profiles_dropdown-container .gamer_profiles_dropdown .gamer_profiles_dropdown-btn{
    display: flex;
    gap: 10px;
    width: 100%;
    border: none;
}
.sidebar-section .gamer_profile_stats_section .gamer_profle_info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}
.sidebar-section .gamer_profile_stats_section .gamer_profle_info .game_stat{
    display: grid;
    grid-template-columns: 1.2fr 3fr;
    grid-gap: 10px;
}
.sidebar-section .gamer_profile_stats_section .gamer_profle_info .game_stat .label{
    display: flex;
    align-items: center;
    gap: 10px;
}

#sidebar-right-blocker{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.411);
    top: 0;
    right:0;
    z-index: 130;
    display: none;
}